<!DOCTYPE html>

{% include head.html %}

<body class="{{ page.class }}">

    <div class="column-left image" style="{% if page.image %} background-image:url('..{{ page.image }}');{% else %}background-image:url('../uploads/image.jpg');{% endif %}"></div>

    <div class="column-right">

        <div class="header">
          <svg class="header-left" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 47.87"><defs><style>.cls-1{fill:#e75e37;}</style></defs><title>_personalBrand_2016_icon</title><g id="_Group_" data-name="&lt;Group&gt;"><g id="_Group_2" data-name="&lt;Group&gt;"><g id="_Group_3" data-name="&lt;Group&gt;"><path id="_Path_" data-name="&lt;Path&gt;" class="cls-1" d="M4.45 47.85H0l17.2-39.2h4.46l-17.2 39.2z"/></g></g><g id="_Group_4" data-name="&lt;Group&gt;"><path id="_Path_2" data-name="&lt;Path&gt;" class="cls-1" d="M34.1 32.68A17.05 17.05 0 0 1 47.8 1.45L46.18 5.2a13 13 0 0 0-10.42 23.74z"/></g><g id="_Group_5" data-name="&lt;Group&gt;"><path id="_Path_3" data-name="&lt;Path&gt;" class="cls-1" d="M52 30.82a17 17 0 0 1-32.54 7.1H13.3l1.78-4.08h7.2l.48 1.36a13 13 0 1 0 17.42-16.24l1.64-3.75A17.07 17.07 0 0 1 52 30.83z"/></g></g></svg>
            <p class="header-right">{{ page.title }}</p>
        </div>

        <div class="content"> {{ content }} </div>

        {% include footer.html %}

    </div>

</body>

</html>
